


/* Bootstrap */
@import "../../node_modules/bootstrap/scss/bootstrap";
@import '../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';

/* Tailwind CSS */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Custom CSS code */
.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    transition-timing-function: linear !important;
    position: relative;
}

.swiper-pagination-bullet {
    background: #4f46e5;
}